<div class="container">
  <div class="row">
    <div class="col-md-12 title">
      <h1>Eat Da Burger!</h1>
    </div>
    <div class="col-md-6" class="task">
        <div class="row">
          {{#each burgers}}
            {{#unless this.devoured}}
          <div class="col-xs-6">
            <pre>{{this.id}}. {{this.burger_name}}</pre>
          </div>
        <div class="col-xs-3">
          <form class="button-size" action="/burgers/update?_method=PUT" method="POST">
            <input type="hidden" name="burger_id" type="text" value={{this.id}}>
            <br>
            <button type="submit" class="btn btn-danger-outline">DEVOUR!</button>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>

    <div class="col-md-6 eaten">
      {{#each burgers}}
        {{#if this.devoured}}
          <input class="form-control read-only" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="row form">
    <div class="col-md-6 enter_section">
      <form action="/burgers/create" method="POST">
        <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
        Enter in a burger to eat!
        <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
      </form>
    </div>
  </div>

  <div class="gif">
    <img src="https://media.giphy.com/media/IgOEWPOgK6uVa/giphy.gif" alt="burger gif" style="width:300px;height:150px;">

  </div>

</div>
